<table class="table table-striped">
  <tr>Code = "-----"</tr>
    <td></td>
    <td><code></code></td>
    <td><code></code></td>
    <td><code></code></td>
    <td><code></code></td>
   
    <tr>


</table>

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Create a New Page
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
       <h3>Step 1:</h3> <br>Go to Pages_controller.rb and add a new page.<br>  
       def page_title<br>
       end<br><br>

       <h3>Step 2:</h3>Go into 'views' Tab. --> 'Pages' <br>
       Create a new page i.e. index.html.erb

       <h3>Step 3:</h3>Go to Config->Routes.rb <br>
       get "pagename" =>"pages#pagename"<br><br>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Push into GitHub
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
       <h3>Step 1:</h3> IN TERMINAL<br>git add .<br>git commit -am "notes, whatever you want to type here"<br>git push<br>Explanation: Saving the application incase of future revisions needed
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Creating a Link
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
          <h3>Step 1:</h3> <br><%= link_to "example", "url or link goes here" %><br><br><br><br>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
          Creating Partials
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">
       <h3>Step 2:</h3> <br><br><br>

       <h3>Step 3:</h3>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
          To Make a Responsive Apps
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse">
      <div class="panel-body">
       Last Line before the "head" closes<br>
       meta name="viewport" content="width=device-width, initial-scale=1"   *Add carrots*
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
          Lesson #6
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse">
      <div class="panel-body">
       <h3>Step 1:</h3> <br><br><br><br><br>

       <h3>Step 2:</h3> <br><br><br>

       <h3>Step 3:</h3>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
          Lesson #7
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
       <h3>Step 1:</h3> <br><br><br><br><br>

       <h3>Step 2:</h3> <br><br><br>

       <h3>Step 3:</h3>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
          Lesson #8
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
       <h3>Step 1:</h3> <br><br><br><br><br>

       <h3>Step 2:</h3> <br><br><br>

       <h3>Step 3:</h3>
      </div>
    </div>
  </div>
</div>