<!DOCTYPE html>
<html>
    <head>
        <title>e-Models</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
        
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>    
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.transit/0.9.9/jquery.transit.min.js"></script>
              

        <script type="text/javascript" src="fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>

        <script type="text/javascript">
            var home = true;
            $(document).ready(function() {
                $(".fancybox").fancybox({
                    openEffect : 'fade',
                    padding : 0
                });
                
            });
        </script>
        <script src="js/script.js"></script>
        
        <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>
    </head>
	<html>

        <section id="footer">
            <div class="container footContainer">              
                <div class="container footLinks">
                <!--footer start-->					
				<!-- row 1 -->
				    <div class="col-sm-3">
						<div>
							<ul>
								<li><h4>Company Info</h3></li>
								<li>Careers</li>
								<li>Press</li>
								<li>Terms of Service</li>
								<li>Contact & Support</li>
								<li>Client Resources</li>
							</ul>
						</div>
					</div>
				<!-- row 2 -->
                    <div class="col-sm-3">
						<div>
							<ul>
								<li><h4>Additional Services</h3></li>
								<li>Remote Print Modeling</li>
								<li>eWebDesign</li>
								<li>Health Benefits</li>
								<li>Partners</li>
								<li>Blog</li>
							</ul>
						</div>
					</div>
				<!-- row 3 -->
                    <div class="col-sm-3">
						<div>
							<ul>
								<li><h4>Find Models</h3></li>
								<li>Models by Category</li>
								<li>Models by Location</li>
								
								
							</ul>
						</div>
					</div>
				<!-- row 4 -->
                    <div class="col-sm-3">
						<div>
							<ul>
								<li><a href="https://www.facebook.com/EclecticModels" target="_blank"><img src="img/FB.png" border="0"></a>
								<a href="https://plus.google.com/b/117201458427518898280/117201458427518898280/posts" target="_blank"><img src="img/G.png" border="0"></a>
								<a href="https://twitter.com/eclecticmodels" target="_blank"><img src="img/twitter.png" border="0"></a></li>
								<br>
								<li><a href="http://www.youtube.com/channel/UCXNBDJ0uBiZNKtrok7IKcog" target="_blank"><img src="img/youtube.png" border="0"></a>
								<a href="http://www.linkedin.com/company/eclectic-models?trk=nav_account_sub_nav_company_admin" target="_blank"><img src="img/linkedin.png" border="0"></a>
								<a href="https://pinterest.com" target="_blank"><img src="img/pinterest.png" border="0"></a></li>
							</ul>
						</div>
					</div>
                   
				</div>
				<div class="watermark">
					<a class="navbar-brand" href="#"><img src="img/logo.png" alt="E-models.net"/></a>
				</div>	
			</div>
		</section>
	</body>
</html>