<div class="container contPopup">
    <div class="row">
        <div class="col-md-12">
            <div class="picvidPopup">
                <div class="popupHeader">
                    <h2>Mary Adams</h2><p>LV, NV | 120lbs | 32D | Blue Eyes | Short Brown hair | Etc</p>
                </div>
                <div class="popupBody">
                    <img src="img/demo/popup1.jpg" class="img-responsive"/>
                </div>
                <div class="popupFooter">
                    <span class="vsf">
                        <button class="btn btn-eModAction">Vote</button>
                        <button class="btn btn-eModAction">Support</button>
                        <button class="btn btn-eModAction">Favorite</button>
                    </span>
                    
                    <span class="socsp">
                        <a href="#"><button class="btn btnSoc btnFacebook"></button></a>
                        <a href="#"><button class="btn btnSoc btnTwitter"></button></a>
                        <a href="#"><button class="btn btnSoc btnGpl"></button></a>
                        <a href="#"><button class="btn btnSoc btnPin"></button></a>
                        <a href="#"><button class="btn btnSoc btnTum"></button></a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>