                        <!-- Left nav
            ================================================== -->
            <div class="row">               
              <div class="span12">
                    <!-- main content here -->

                    <h3 class="pink"> This page is not finished yet</h3>
                    <button id="btn_record" class="btn btn-grey">Record video</button>
                    <button id="btn_take_picture" class="btn btn-grey">Take picture</button>                    
              </div>
            </div>

    <?php include 'templates/footer.php'; ?>
    
    <script src="js/sha512.js" type="text/javascript" charset="utf-8"></script>
    <script src="ASLibrary/js/asengine.js" type="text/javascript" charset="utf-8"></script>
    <script src="ASLibrary/js/index.js" type="text/javascript" charset="utf-8"></script>
    <script src="ASLibrary/js/profile.js" type="text/javascript" charset="utf-8"></script>
    
  </body>
</html>
